{% extends 'pages\base2.html' %}
{% load static %}

{% block page_content %}


<div class="container">

    <div class="row">
      <footer>
        <ul class="nospace inline pushright">
          <figure><a href="#"><img style="align-items: center;" src="{% static 'base/img/LogoTransparente240X240.png' %}" alt=""></a>
          </figure>         
        </ul>
      </footer>
      <video autoplay="true" width="800" height="374" loop="true">
        <source src="{% static 'base/video/BicichocolatePresentacion.mp4' %}" type="video/mp4" />
        <source src="{% static 'base/video/BicichocolatePresentacion.ogv' %}" type="video/ogg" />
        <source src="{% static 'base/video/BicichocolatePresentacion.webm' %}" type="video/webm">
      </video> 
  
    </div>
  </div>
  <div class="wrapper row2">
    <section class="hoc container clear testimonials"> 
      <div class="sectiontitle">
        <h6 class="heading">Efficitur posuere tellus non</h6>
        <p>Mattis turpis praesent dignissim et libero non luctus vivamus</p>
      </div>
      <ul class="nospace group btmspace-80">
        <li class="one_third first">
          <blockquote>Imperdiet libero ac sapien facilisis ultricies aliquam gravida ligula quis commodo interdum purus felis rutrum velit non tincidunt arcu orci eget nulla etiam laoreet volutpat mollis mauris</blockquote>
          <figure class="clear"><img class="circle" style="height: 50%; width:50%" src="{% static 'base/img/gallery/andresulate.jpg' %}" alt="">
            <figcaption>
              <h6 class="heading">Andre Ulate</h6>
              <em>Consultant</em></figcaption>
          </figure>
        </li>
        <li class="one_third">
          <blockquote>Et tellus nibh nullam sit amet mauris consequat vehicula velit non aliquam erat maecenas egestas dui et velit viverra in tincidunt neque consectetur quisque metus arcu suscipit rutrum euismod</blockquote>
          <figure class="clear"><img class="circle" style="height: 50%; width:50%" src="{% static 'base/img/gallery/danielpacheco.jpg' %}" alt="">
            <figcaption>
              <h6 class="heading">Daneil Pacheco</h6>
              <em>Director</em></figcaption>
          </figure>
        </li>
        <li class="one_third">
          <blockquote>Consequat venenatis vestibulum enim phasellus id molestie mi nec vulputate massa phasellus ut ligula hendrerit lobortis nibh ac laoreet sapien morbi id sagittis nulla vulputate fringilla felis</blockquote>
          <figure class="clear"><img class="circle" style="height: 50%; width:50%" src="{% static 'base/img/60x60.png' %}" alt="">
            <figcaption>
              <h6 class="heading">June Doe</h6>
              <em>Marketing</em></figcaption>
          </figure>
        </li>
      </ul>
    </section>
  </div>
    
{% endblock %}

{% block footer %}
{% endblock %}