{% extends 'pages\base2.html' %}
{% load static %}

{% block page_content %}
    
<section class="contact spad">
    <div class="container">
        <div class="contact__text">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="contact__map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.995868927876!2d-84.12173538584761!3d10.017198792839386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0fb16cadbfff5%3A0xac18ffbca2833c62!2sBicichocolate!5e0!3m2!1ses-419!2scr!4v1614891095932!5m2!1ses-419!2scr"
                            height="350" style="border:0;" allowfullscreen="" aria-hidden="false"
                            tabindex="0"></iframe>
                    </div>
                    <div class="contact__widget">
                        <ul>
                            <li>
                                <i class="fa fa-map-marker"></i>
                                <span>Heredia, Barva, Jardines de Santa Lucia, Calle Las Pomas</span>
                            </li>
                            <li>
                                <i class="fa fa-mobile"></i>
                                <span>Teléfono: 8481-1367</span>
                            </li>
                            <li>
                                <i class="fa fa-envelope-o"></i>
                                <span>Email: info@bicichocolate.net</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="contact__form">
                        <div class="contact__form__title">
                            <h2>Nos interesa conocerlo</h2>
                            <p>Nos gustaria atender sus inquietudes, para lo cual ponemos a su disposición este formulario, además 
                                puedes seguirnos en nuestras redes sociales.
                            </p>
                        </div>
                        <form action="#">
                            <input type="text" placeholder="Nombre">
                            <input type="text" placeholder="Email">
                            <input type="text" placeholder="Teléfono">
                            <textarea placeholder="Message"></textarea>
                            <button type="submit" class="site-btn">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->

<!-- Footer Section Begin -->
<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>

{% endblock page_content %}}