{% extends 'base2.html' %}
{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
  </style
{% block page_content %}

<div class="container-md pt-3 bg-dark text-dark">
    <div class="row">        
        {% for image in images %}     
            <div class="col-4;">
                <div class="card ml-4 mr-2 mt-2 mb-2" style="width:25rem; height:35rem;">
                    <img class="card-img-top ml-2 mt-2" src="{{image.image.url}}" alt="Card image" style="image-rendering: auto; align-self:center; height:300px; width:300px">
                    <h4 class="card-title ml-2 mt-1">{{image.name}}</h4>
                </div>
            </div>
        {% endfor %}
    </div>
</div> 


<div class="container mt-3">

    <h2>Carousel</h2>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    
      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ul>
      
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="la.jpg" alt="Los Angeles" width="1100" height="500">
        </div>
        <div class="carousel-item">
          <img src="chicago.jpg" alt="Chicago" width="1100" height="500">
        </div>
        <div class="carousel-item">
          <img src="ny.jpg" alt="New York" width="1100" height="500">
        </div>
      </div>
      
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
    
    </div>
    
{% endblock %}

{% block footer %}
{% endblock footer %}