{% extends 'base2.html' %}
{% load static %}


  {% block page_content %}
<div class="container-md pt-3">  
  <section>
    <div class="sectiontitle">
      <h6 class="heading">Adquiere nuestros productos en el punto más cercano</h6>
      <p>Contamos con los siguientes puntos de ventas.</p>
    </div>
    <div class="container-lg mb-2 bg-dark text-white">
      <div class="row">       
        {% for punto in puntosventas %}     
            <li class="one_third">
                <figure style="padding: 10px;">
                    <a href="#"><img src="{{punto.logo.url}}" style="image-align: center; width: 220px; height=110px;"  alt=""></a>
                <figcaption style="padding: 10px;">
                    <h6 class="heading" style="margin-left: 5px;">{{punto.name}}</h6>
                    <p style="margin-left: 5px;">Dirección: {{punto.direction}}</p>
                    <p style="margin-left: 5px;">Teléfono: {{punto.telephone}}</p>
                </figcaption>
                </figure>
            </li>
        {% endfor %}
      </div>
    </div>
  </section>
</div>
  {% endblock %}
  {% block footer %}
  {% endblock %}