{% extends 'pages\base2.html' %}
{% load humanize %}
{% load static %}


{% block page_content %}
<div class="container-lg pt-2 bg-dark text-dark">
  <div class="row">   
	{% csrf_token %}     
	  {% for product in products %}     
		  <div class="col-4;">
			<div class="card ml-4 mr-2 mt-2 mb-2" style="width:25rem; height:35rem;">
				  <h4 class="card-title ml-2 mt-1">{{product.name}}</h4>
				  <img class="card-img-top ml-2 mt-2" src="{{product.imagen.url}}" alt="Card image" 
					style="max-width: 90%; align-self:center; height:50%; width:auto">
					<a class="btn btn-outline-dark btn-sm m-2" onclick="return abrir_modal('{% url 'sitio:ImagesProduct' product.id  %}')" href="#">
						<i class="fas fa-calendar-plus"></i> Ver
					</a>

					<label hidden="true" id="ID">{{product.id}}</label>
					<p class="limitado" style="margin-left: 5px;">{{product.description}}</p>
					<div class="row">
						<div style="margin-left: 25px;">
							PRECIO: ₡{{product.price}}
						</div>
					</div>
			  </div>
		  </div>
	  {% endfor %}
  </div>
</div>  
{% endblock %}
{% block footer %}
{% endblock footer %}
