{% extends 'pages\base.html' %}
{% load humanize %}
{% load static %}

{% block page_content %}
<div class="container-md pt-3 bg-dark text-dark">
  <div class="row">        
	  {% for product in products %}     
		  <div class="col-4;">
			<div class="card ml-4 mr-2 mt-2 mb-2" style="width:25rem; height:35rem; scroll=true">
				  <h4 class="card-title ml-2 mt-1">{{product.name}}</h4>
					
				  <img class="card-img-top ml-2 mt-2" src="{{product.imagen.url}}" alt="Card image" 
					style="align-self:center; height:50%; width:auto">
					<a href="#"></a>
					<p class="limitado" style="margin-left: 5px;">{{product.description}}</p>
					<div class="row">
						<div class="buttons-toolbar">
							<a class="dropdown-item" onclick="return abrir_modal('{% url 'sitio:Images_Product' %}')" href="#">
								<i class="fas fa-calendar-plus"></i> Detalles</a>
						</div>
					
						<div style="margin-left: 5px;">
							PRECIO: ₡{{product.price}}
						</div>
	
					</div>
			  </div>
		  </div>
	  {% endfor %}
  </div>
</div>  
{% endblock %}

{% block footer %}
{% endblock footer %}
