.not-visible{
    display: none;
}

.my-img{
    cursor: pointer;
}

/* customize the window */
.modal-content {
    border-radius: 5%;
}

/* customize the backfrop */
.modal {
    background-color: rgb(0, 0,0,0.7);
}